/**store.css
 * > 스토어 페이지에 적용되는 스타일
 */

/**본문
 * > 검색창
 * > 상품 목록
 * > 장바구니
 */
main {
    display: flex;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    padding-top: 96px;
}
/*/상품 목록/*/
/*검색창*/
#productList {
    margin-right: 16px;

    flex-grow: 1;
}
#productList .search-field {
    position: relative;

    width: 512px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: 32px;
}
#productList .search-field .fa-search {
    position: absolute;

    padding: 16px;

    color: var(--text-color-disabled);
    font-size: 16px;
}
#productList .search-field #search {
    display: block;

    width: 100%;
    height: 100%;
    padding-left: 48px;
    padding-right: 16px;

    border: 1px solid var(--grid-color);
    border-radius: 24px;
}
/*목록*/
#productList .list {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
/*카드*/
#productList .list .item {
    cursor: move;

    border: 1px solid var(--grid-color);
    border-radius: 4px;

    overflow: hidden;
}
#productList .item .photo {
    padding-top: 100%;
}
#productList .item .details {
    display: flex;

    height: 128px;
    padding: 16px;

    border-top: 1px solid var(--grid-color);

    flex-direction: column;

    background-color: var(--background-color);
}
#productList .item .name {
    font-size: 1.2em;
}
#productList .item .brand {
    margin-top: 8px;
    margin-bottom: auto;

    color: var(--text-color-disabled);
}
#productList .item .price::before {
    content: "\\";
}
#productList .item .highlight {
    background-color: #fcd56a;
}

/*/장바구니/*/
/*드롭 영역*/
#basket {
    display: flex;

    position: sticky;
    top: 32px;

    width: 378px;
    height: calc(100vh - 224px);

    flex-direction: column;
}
#basket #dropArea {
    position: relative;

    padding-top: 50%;

    border: 1px solid var(--grid-color);
    border-radius: 4px;
}
#basket #dropArea::after {
    content: "이곳에 상품을 넣어주세요.";

    display: flex;

    position: absolute;
    top: 7px;
    left: 7px;

    width: calc(100% - 16px);
    height: calc(100% - 16px);

    border: 1px dashed var(--grid-color);
    border-radius: 4px;

    flex-direction: column;
    justify-content: center;

    color: var(--text-color-disabled);
    text-align: center;
}
/*장바구니 목록*/
#basket .list {
    flex-grow: 1;
    margin-top: 16px;
    padding-bottom: 32px;

    border: 1px solid var(--grid-color);
    border-radius: 4px;

    overflow: hidden scroll;
}
/*카드*/
#basket .list .item {
    border-bottom: 1px solid var(--grid-color);
}
#basket .item .control {
    display: flex;

    flex-direction: column;
}
/*상품 정보*/
#basket .item .info {
    display: flex;
}
#basket .item .info .photo {
    width: 96px;
    height: 96px;
}
#basket .item .info .details {
    display: flex;

    padding: 16px;

    flex-direction: column;

    border-left: 1px dashed var(--grid-color);
}
#basket .item .details .brand {
    margin-bottom: auto;

    color: var(--text-color-disabled);
    font-size: 0.8em;
}
#basket .item .details .price::before {
    content: "\\";
}
/*상품 조작*/
#basket .item .control .label {
    height: 48px;

    border: none;
    border-top: 1px dashed var(--grid-color);
}
#basket .item .count .value {
    display: flex;
}
#basket .item .count .product-count {
    flex-grow: 1;
}
#basket .item .count .remove {
    width: 32px;
    height: 32px;
    margin-left: 16px;
    padding: 0;
}
#basket .item .count-price .value {
    text-align: right;
}
#basket .item .count-price .value::before {
    content: "\\";
}
/*장바구니 조작*/
#basket > .control {
    display: flex;

    margin-top: 16px;
}
#basket .control .total-price {
    flex-grow: 1;
}
#basket .control .total-price .value {
    text-align: right;
}
#basket .control .total-price .value::before {
    content: "\\";
}
#basket .control .buy {
    margin-left: 16px;
    flex-shrink: 0;

    --button-padding: 12px 16px;
}

/*/다이얼로그/*/
.ui-dialog {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.dialog {
    display: flex;

    margin-top: 16px;

    flex-direction: column;
}
.dialog label {
    display: flex;

    margin-bottom: 16px;

    flex-direction: column;
}
.dialog label input {
    display: block;

    height: 32px;
    margin-top: 8px;
    padding: 0 16px;

    border: 1px solid var(--grid-color);
    border-radius: 16px;
}

/**작은 크기에서의 스타일
 * > 최대 너비가 855px 이하인 화면에만 적용
 */
@media screen and (max-width: 855px) {
    main {
        padding-top: 32px;
    }
}
