* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: inherit;
    font: inherit;
    text-decoration: inherit;
}
body,
html {
    height: 100%;

    background-color: #eeeeee;

    text-decoration: none;
}

header {
    width: 100%;
    height: 48px;
    padding: 0 16px;

    background-color: #191919;

    color: #ffffff;
}
header .contents {
    display: flex;

    width: 1600px;
    height: 100%;
    margin: 0 auto;
}
header .text {
    display: flex;

    height: 100%;

    flex-direction: column;
    justify-content: center;
}
header .head {
    display: flex;

    margin-right: 64px;
}
header .head .title {
    font-weight: bold;
}
header .head .logo {
    width: 32px;
    height: 32px;
    margin: 8px;
}
header nav {
    display: flex;
}
header nav .nav-item {
    padding: 0 16px;
}
header nav .nav-item:hover,
header nav .nav-item.active {
    background-color: #292929;
}
header .account {
    display: flex;

    margin-left: auto;
}
header .account * {
    padding: 0 16px;
}
header .account .link:hover {
    text-decoration: underline;
}

@keyframes auto-slide {
    0%,
    20% {
        right: 0;
    }
    25%,
    45% {
        right: 100%;
    }
    50%,
    70% {
        right: 200%;
    }
    75%,
    95% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}
#imageSlider {
    position: relative;

    width: 100%;
    height: fit-content;
    padding: 64px 0;
}
#imageSlider .backboard {
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 512px;

    background-color: #393939;
}
#imageSlider .carousel {
    z-index: 1;

    position: relative;

    width: fit-content;
    height: fit-content;
    padding: 16px 0;
    margin: 0 auto;

    background-color: #ffffff;
}
#imageSlider .viewport {
    counter-reset: slide-reset;

    display: flex;

    width: 1024px;
    height: 576px;
    margin: 0 96px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}
#imageSlider .viewport::-webkit-scrollbar {
    display: none;
}
#imageSlider .viewport .slide {
    counter-increment: slide-reset;

    animation-name: auto-slide;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    display: flex;

    position: relative;

    width: 100%;
    height: 100%;
    flex: 0 0 100%;

    border: 4px solid #555599;

    flex-direction: column;
    justify-content: center;

    background-color: #9999ee;

    font-size: 5em;
    text-align: center;
}
#imageSlider .viewport .slide::before {
    content: counter(slide-reset);
}

#housewarmingParty {
    margin-bottom: 64px;
}
#housewarmingParty .list {
    display: flex;

    width: 1600px;
    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: center;
}
#housewarmingParty .item {
    display: flex;

    margin: 32px 32px;

    flex-direction: column;
}
#housewarmingParty .item .img {
    position: relative;

    width: 320px;
    height: 180px;
    margin-bottom: 4px;
}
#housewarmingParty .item .img .before {
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 4px solid #559955;

    background-color: #99ee99;
}
#housewarmingParty .item .img .after {
    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border: 4px solid #555599;

    background-color: #9999ee;
}
#housewarmingParty .item .rate {
    position: relative;
}
#housewarmingParty .item .rate * {
    position: absolute;
    top: 0;
    left: 0;
}
#housewarmingParty .item .rate .blank {
    display: block;

    width: 176px;
    height: 32px;

    background-image: url("./resources/rate_blank.svg");
    background-size: cover;
    background-color: #eeeeee;
    background-blend-mode: multiply;
}
#housewarmingParty .item .rate .score {
    display: block;

    width: 120px;
    max-width: 176px;
    height: 32px;

    background-image: url("./resources/rate_fill.svg");
    background-size: cover;
    background-color: #eeeeee;
    background-blend-mode: multiply;

    clip-path: url("#rateFill");
}
#housewarmingParty .item .producer::before {
    content: "by ";

    color: #393939;
}
