* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    border: 0;
    outline: none;

    background-color: transparent;

    color: inherit;
    font: inherit;
    text-decoration: inherit;
    list-style: inherit;
}
html,
body {
    height: 100%;

    color: #222222;
    text-decoration: none;
}

/*/ 맞춤 스타일 /*/
.mobile {
    display: none;
}
.button {
    display: flex;

    border: 1px solid #cccccc;
    border-radius: 4px;

    flex-direction: column;
    justify-content: center;

    color: #777777;
    text-align: center;

    transition: border-color 0.1s, color 0.1s;
}
.rate {
    display: flex;

    position: relative;

    justify-content: space-between;
}
.rate [class|="star"] {
    display: block;

    height: 100%;

    background-size: cover;
}
.rate .star-blank {
    width: 100%;

    background-image: url("../images/icons/rate_blank.svg");
}
.rate .star-fill {
    position: absolute;
    left: 0;

    background-image: url("../images/icons/rate_fill.svg");
}

/*/ 헤더 영역 /*/
header {
    display: flex;

    width: 100%;
    max-width: 1200px;
    height: 48px;
    margin: 0 auto;
}
/* 브랜드 로고 */
header .brand {
    display: flex;

    width: fit-content;
    height: 100%;
    margin-right: 32px;
    padding: 8px;
}
header .brand .logo {
    height: 100%;
    margin-right: 8px;
}
header .brand .title {
    height: 1.2em;

    align-self: center;
}
/* 네비게이션 */
header nav {
    display: flex;

    margin-right: auto;
}
header nav .nav-item {
    display: flex;

    padding: 0 12px;

    flex-direction: column;
    justify-content: center;

    color: #777777;

    transition: color 0.1s;
}
header nav .nav-item.active,
header nav .nav-item:hover,
header nav .nav-item:focus {
    color: inherit;
}
/* 로그인 및 회원가입 */
header .account {
    display: flex;
}
header .account * {
    display: flex;

    flex-direction: column;
    justify-content: center;
}
header .account .register {
    display: flex;

    margin-right: 16px;

    flex-direction: column;
    justify-content: center;

    color: #777777;
}
header .account .login {
    height: 32px;
    margin-right: 8px;
    padding: 0 8px;

    align-self: center;
}

/*/ 이미지 슬라이드 영역 /*/
/* 애니메이션 */
@keyframes auto-slide-1 {
    0%,
    12.5% {
        right: 0;
    }
    25%,
    37.5% {
        right: 100%;
    }
    50%,
    62.5% {
        right: 200%;
    }
    75%,
    87.5% {
        right: 100%;
    }
    100% {
        right: 0;
    }
}
@keyframes auto-slide-2 {
    0%,
    12.5% {
        right: 100%;
    }
    25%,
    37.5% {
        right: 200%;
    }
    50%,
    62.5% {
        right: 100%;
    }
    75%,
    87.5% {
        right: 0;
    }
    100% {
        right: 100%;
    }
}
@keyframes auto-slide-3 {
    0%,
    12.5% {
        right: 200%;
    }
    25%,
    37.5% {
        right: 100%;
    }
    50%,
    62.5% {
        right: 0;
    }
    75%,
    87.5% {
        right: 100%;
    }
    100% {
        right: 200%;
    }
}
@keyframes to-slide-1 {
    from {
        right: 0;
    }
}
@keyframes to-slide-2 {
    from {
        right: 100%;
    }
}
@keyframes to-slide-3 {
    from {
        right: 200%;
    }
}
/* 이미지 목록 */
#imageSlide .carousel {
    position: relative;
}
#imageSlide .carousel .viewport {
    display: flex;

    position: relative;

    height: 640px;

    overflow: hidden;
}
#imageSlide .viewport .slide {
    animation-name: auto-slide-1;
    animation-duration: 16s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    position: relative;

    width: 100%;
    height: 100%;
    flex-shrink: 0;

    background-position: center;
    background-size: cover;
}
/* 이전, 다음 컨트롤러 */
#imageSlide .controller {
    display: flex;

    position: absolute;
    top: 0;

    width: 100%;
    height: 640px;

    overflow: hidden;
}
#imageSlide .controller [class|="slide"] {
    position: relative;

    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
#imageSlide .controller [class|="btn"] {
    position: absolute;
    top: 0;

    width: 128px;
    height: 100%;

    opacity: 0.5;

    transition: opacity 0.1s;
}
#imageSlide .controller [class|="btn"]:hover {
    opacity: 0.75;
}
#imageSlide .controller .btn-prev {
    left: 0;
}
#imageSlide .controller .btn-next {
    right: 0;
}
#imageSlide .controller .icon {
    width: 32px;
}
#imageSlide .controller .btn-next .icon {
    transform: rotate(180deg);
}

/*/ 메인 컨텐츠 영역 /*/
main {
    margin-top: 64px;
}
section {
    margin-bottom: 64px;
}
section > .title {
    font-size: 2em;

    text-align: center;
}
section > .more {
    width: 128px;
    height: 48px;
    margin: 32px auto;
}

/*/ 온라인 집들이 영역 /*/
#housewarming .contents {
    display: flex;

    max-width: 1600px;
    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: center;
}
/* 게시글 카드 */
#housewarming .contents .card {
    display: flex;

    width: 340px;
    height: 380px;
    margin: 0 16px;
    margin-top: 32px;

    border: 1px solid #cccccc;
    border-radius: 4px;

    overflow: hidden;
    flex-direction: column;
}
#housewarming .card .thumbnail {
    cursor: pointer;

    display: flex;

    height: 190px;
}
#housewarming .card .thumbnail [class|="img"] {
    position: relative;
    right: 0;

    width: 100%;
    height: 100%;
    flex-shrink: 0;

    background-position: center;
    background-size: cover;

    transition: right 0.5s;
}
#housewarming .card .thumbnail:hover [class|="img"] {
    right: 100%;
}
#housewarming .card .details {
    display: flex;

    height: 156px;
    padding: 16px 24px;

    flex-direction: column;
}
#housewarming .card .title {
    display: block;

    width: 100%;
    flex-shrink: 0;

    margin-bottom: 16px;

    font-size: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#housewarming .card .desc {
    display: block;
    display: -webkit-box;

    width: 100%;
    height: 100%;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;

    color: #555555;
    text-overflow: ellipsis;
}
#housewarming .card .info {
    display: flex;

    height: 32px;
    padding: 0 8px;

    border-top: 1px solid #cccccc;

    justify-content: space-between;

    background-color: #eeeeee;

    color: #555555;
    font-size: 0.8em;
}
#housewarming .card .info * {
    align-self: center;
}
#housewarming .card .rate {
    width: 115px;
    height: 18px;
}
#housewarming .card .rate [class|="star"] {
    max-width: 90px;
    height: 100%;
}
#housewarming .card .rate .star-blank {
    width: 100%;
}
#housewarming .card .rate .star-fill {
    width: 81px;
}
#housewarming .card .producer::before {
    content: "by ";
}

/*/ 전문가 영역 /*/
#specialist .contents {
    display: flex;

    max-width: 1200px;
    margin: 0 auto;

    flex-wrap: wrap;
    justify-content: center;
}
/* 명함 카드 */
#specialist .contents .card {
    width: 256px;
    height: 256px;
    margin: 0 16px;
    margin-top: 32px;

    perspective: 2048px;
}
#specialist .card .page {
    position: relative;

    width: 100%;
    height: 100%;

    border: 1px solid #cccccc;
    border-radius: 4px;

    transform-style: preserve-3d;
    transition: transform 0.5s;
}
#specialist .card:hover .page {
    transform: rotateY(-180deg);
}
#specialist .card [class|="side"] {
    position: absolute;

    width: 100%;
    height: 100%;

    backface-visibility: hidden;
}
#specialist .card .side-front .profiles {
    width: 100%;

    border-radius: 4px;
}
#specialist .card .side-back {
    display: flex;

    justify-content: center;
    flex-direction: column;

    background-color: #eeeeee;

    text-align: center;

    transform: rotateY(180deg);
}
#specialist .card .side-back .name {
    font-size: 1.75em;
}
#specialist .card .side-back .id {
    margin-bottom: 32px;
}
#specialist .card .side-back .id::before {
    content: "#";
}
#specialist .card .side-back .more {
    display: block;

    width: 128px;
    margin: 0 auto;
    padding: 8px 0;

    border: 1px solid #aaaaaa;
    border-radius: 32px;

    color: #555555;
}

/*/ 후기 영역 /*/
#review .contents {
    max-width: 1000px;
    margin: 0 auto;
}
#review .contents .card {
    display: flex;

    width: 100%;
    height: 180px;
    margin-top: 32px;

    border: 1px solid #cccccc;
    border-radius: 4px;

    overflow: hidden;
}
#review .contents .card:nth-child(even) {
    flex-flow: row-reverse;
}
#review .card .thumbnail {
    width: 320px;
    height: 100%;
    flex-shrink: 0;

    background-position: center;
    background-size: cover;
}
#review .card .details {
    display: flex;

    flex-grow: 1;
    padding: 24px 48px;

    flex-direction: column;

    color: #777777;
}
#review .card .details .desc {
    display: block;

    width: 582px;

    overflow: hidden;

    color: #222222;
    white-space: nowrap;
    font-size: 1.5em;
    text-overflow: ellipsis;
}
#review .card .details .author {
    padding-left: 16px;
}
#review .card .details .author::before {
    content: "- ";
}
#review .card .info {
    display: flex;

    margin-top: auto;
}
#review .card .details .specia::after {
    content: " 시공:";
    margin-right: 8px;
}
#review .card .details .price::after {
    content: "\\";
}
#review .card .details .rate {
    margin-top: 4px;

    width: 150px;
    height: 24px;
}
#review .card .rate .star-blank {
    width: 120px;
    height: 24px;
}
#review .card .rate .star-fill {
    width: 120px;
    height: 24px;
}
#review .card .rate .score {
    display: flex;

    flex-direction: column;
    justify-content: center;
}

/*/ 하단 영역 /*/
footer {
    display: flex;

    height: 128px;
    margin-top: 96px;
    padding: 64px;

    flex-direction: column;
    justify-content: center;

    background-color: #222222;

    color: #cccccc;
}

/*/ 모바일 크기 /*/
@media (max-width: 768px) {
    header .nav-btn {
        display: flex;

        width: 48px;
        padding: 8px;

        flex-direction: column;
        justify-content: center;
    }
    header .nav-btn .line {
        display: block;
        
        width: 24px;
        height: 2px;
        margin: 0 auto;

        background-color: #222222;
    }
    header .nav-btn .line::before,
    header .nav-btn .line::after {
        content: "";

        display: block;
        
        position: relative;
        
        width: 24px;
        height: 2px;
        margin: 0 auto;

        background-color: #222222;
    }
    header .nav-btn .line::before {
        bottom: 8px;
    }
    header .nav-btn .line::after {
        top: 6px;
    }
    header #navButton {
        display: none;
    }
    header nav {
        display: none;
    }
    header #navButton:checked + nav {
        z-index: 1;

        display: flex;

        position: absolute;
        top: 48px;

        width: 100%;
        padding-bottom: 8px; 

        flex-direction: column;

        background-color: #ffffff;
    }
    header #navButton:checked + nav .nav-item {
        padding: 8px 16px;
    }
    header .brand {
        margin-right: auto;
    }

    #imageSlide .carousel .viewport {
        height: 450px;
    }

    #specialist .contents .card {
        width: 180px;
        height: 180px;
    }

    #review .contents .card {
        display: flex;

        height: 512px;

        border-radius: 0;
        border-width: 1px 0;
        
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #review .contents .card:nth-child(even) {
        flex-flow: column;
    }
    #review .card .thumbnail {
        width: 100%;
        height: 256px;
    }
    #review .card .details {
        padding: 32px;
    }
    #review .card .details .desc {
        display: -webkit-box;

        width: 100%;

        white-space: normal;
        overflow: hidden;

        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }

    footer {
        padding: 0;

        text-align: center;
    }
}
