* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;

    color: inherit;
    font: inherit;
    text-decoration: inherit;
}
body,
html {
    height: 100%;

    background-color: #eeeeee;

    text-decoration: none;
}

header {
    width: 100%;
    height: 48px;
    padding: 0 16px;

    background-color: #191919;

    color: #ffffff;
}
header .contents {
    display: flex;

    width: 1600px;
    height: 100%;
    margin: 0 auto;
}
header .text {
    display: flex;

    height: 100%;

    flex-direction: column;
    justify-content: center;
}
header .head {
    display: flex;

    margin-right: 64px;
}
header .head .title {
    font-weight: bold;
}
header .head .logo {
    width: 32px;
    height: 32px;
    margin: 8px;
}
header nav {
    display: flex;
}
header nav .nav-item {
    padding: 0 16px;
}
header nav .nav-item:hover,
header nav .nav-item.active {
    background-color: #292929;
}
header .account {
    display: flex;

    margin-left: auto;
}
header .account * {
    padding: 0 16px;
}
header .account .link:hover {
    text-decoration: underline;
}

#searchList #search {
    display: block;

    width: 512px;
    height: 48px;
    margin: 64px auto;
    padding: 0 16px;

    border: 1px solid #393939;
    border-radius: 24px;
}

#productsList #products {
    display: flex;

    width: 1600px;
    margin: 0 auto;
    
    flex-wrap: wrap;
    justify-content: center;
}
#productsList #products .item {
    display: flex;

    width: 256px;
    height: 320px;
    margin: 0 32px;

    border: 1px solid #dddddd;

    flex-direction: column;
}
#productsList #products .item .cho {
    display: none;
}
#productsList #searchWarning {
    display: none;

    text-align: center;
}
